<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener | Home</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <link th:href="@{/css/bootstrap.min.css}" rel = "stylesheet" />
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body class="container">
    <div class="row jumbotron top-box">
        <div class="col-md-5">
            <h2> URL Shortener </h2>
            <div th:if="${message != null}">
                <small id="passwordHelp" class="text-danger" th:text="${message}">
                </small>
            </div>
        </div>
        <div class = "col-md-7">
            <form th:action="@{/submit}" method="POST" th:object="${urlShortener}" >
                <div class="row">
                    <div class="col-sm-5">
                        <input placeholder="ShortForm" type="text" class="form form-control addmargin" th:field="*{shortString}" />
                    </div>
                    <div class="col-sm-5">
                        <input placeholder="Valid URL" class="form form-control addmargin" type="text" th:field="*{expansionString}">
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-primary addmargin">Shorten</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <div class="gap"></div>  
    
    <table class="table table-striped">
        <tr>
            <th> Handle</th>
            <th> Actual URL </th>
        </tr>
        <tr th:each="url : ${urls}">
            <td th:text="${url.shortString}"></td>
            <td> <a th:href="@{${url.expansionString}}" th:text="${url.expansionString}"  > </a></td>
        </tr>
        
    </table>

</body>
</html>